#hero {
  background-image: url(../images/slider-image1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  display: flex;
  align-items: center;
  .slider-contact{
      h3{
        color: #f9f9f9;
        font-size: 14px;
        line-height: inherit;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 0;
      }
      h1 {
        color: $white;
        padding-bottom: 30px;
        font-size: 3em;
        line-height: 50px;
        font-weight: bold;
      } 
      .section-btn {
        background: $theme-color;
        border-radius: 0;
        border: 0;
        color: #f9f9f9;
        font-size: inherit;
        font-weight: normal;
        padding: 10px 25px;
        transition: 0.5s 0.2s;
        &:hover{
            background-color: transparent;
            border: 1px solid $theme-color;
            transition: 0.5s 0.2s;
        }
    }   
  }
}
